{% import _self as macros %}
{% macro newsitem(items, categories) %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            {% if categories.length > 1 %}
            <th>Category</th>
            {% endif %}
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td style="width: 1px; white-space: nowrap;">{{ item.get('date') }}</td>
                {% if categories.length > 1 %}
                <td style="width: 1px; white-space: nowrap;">{{ item.getCategory() }}</td>
                {% endif %}
                <td><a href="#{{ item.getId() }}">{{ item.get('title')|default('<em>Untitled news item</em>') }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

<div class="container">
    <ul class="nav nav-pills">
        {% for page in collection.toArray() %}
            <li role="presentation" class="{% if loop.first %}active{% endif %}"><a data-toggle="pill" href="#{{ page.get('id')|replace({"/": "_"}) }}">{{ page.get('title') }}</a></li>
        {% endfor %}
    </ul>
</div>
<hr />

<div class="tab-content">
    {% for page in collection.toArray() %}
        <div id="{{ page.get('id')|replace({"/": "_"}) }}" class="tab-pane fade {% if loop.first %}in active{% endif %}">
            <div class="container">
                <h1>{{ page.get('title') }}  <a href="javascript:void(0)" data-page="{{ page.id }}" class="btn btn-info new-item"><i class="glyphicon glyphicon-plus"></i> New item...</a></h1>
                {% set planned = page.getPlanned() %}
                {% if (planned|length > 0) %}
                    <h4>Planned items</h4>
                    {{ macros.newsitem(planned, categories) }}
                {% endif %}
                {% set published = page.getPublished() %}

                <h4>Published items</h4>
                {% if published|length > 0 %}
                    {{ macros.newsitem(published, categories) }}
                {% else %}
                    <div class="alert alert-danger">
                        No news items currently published.
                    </div>
                {% endif %}

                {% set archived = page.getArchived() %}
                {% if (archived|length > 0) %}
                    <h4>Archived items</h4>
                    {{ macros.newsitem(archived, categories) }}
                {% endif %}

            </div>
        </div>
    {% endfor %}
</div>

{% for page in collection.toArray() %}
{% endfor %}
